body {
  color: blue; }

.input-holder input {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FAEBD7; }

.background-image {
  color: firebrick;
  background-image: url(travelstogether.png);
  background-repeat: no-repeat;
  background-size: cover; }

.logo {
  background-image: url(logo.png);
  background-position: right 60px;
  background-repeat: no-repeat;
  background-color: firebrick;
  color: gray; }

section {
  border: 2px solid black;
  margin: 3px;
  text-align: center;
  max-width: 400px;
  background-color: #FAEBD7; }

.btn-primary {
  background-color: firebrick; }
