.background-image {
  color: firebrick; 
  background-image: url(travelstogether.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
	background-image: url(logo.png);
	background-position: top right;
	background-repeat: no-repeat;
	background-color: firebrick;
	color: gray;
}

.input-holder input {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: yellow; }

section{
	border: 2px solid black;
	margin: 3px;
	text-align: center;
	max-width: 400px;
}

.btn-primary{
	background-color: firebrick;
}

/*<div class="canva-embed" data-height-ratio="0.8" data-design-id="DACU4hHDeLk" style="padding:80% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https://sdk.canva.com/v1/embed.js"></script><a href="https://www.canva.com/design/DACU4hHDeLk/view?utm_content=DACU4hHDeLk&utm_campaign=designshare&utm_medium=embeds&utm_source=link" target="_blank">travelstogether</a> by <a href="https://www.canva.com/lady_l_24?utm_campaign=designshare&utm_medium=embeds&utm_source=link" target="_blank">Tasha N Simmons</a>*/
