body {
  color: blue; }

.input-holder input {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white; }

.background-image {
  color: firebrick;
  background-image: url(travelstogether.png);
  background-repeat: no-repeat;
  background-size: cover; }

.logo {
  background-image: url(logo.png);
  background-position: right 60px;
  background-repeat: no-repeat;
  background-color: firebrick;
  color: gray;
  margin-bottom: 20px; }

#user-profile-container {
  padding: 100px;
  color: #36454F; }
  #user-profile-container #movieList {
    margin: 0 auto; }
  #user-profile-container section {
    border: 2px solid black;
    margin: 3px;
    text-align: center;
    max-width: 400px;
    background-color: white;
    height: 250px; }
  #user-profile-container #watched-btn {
    margin-bottom: 20px;
    background-color: #36454F;
    color: white; }
  #user-profile-container #unwatched-btn {
    margin-bottom: 20px;
    background-color: #36454F;
    color: white; }

.btn-primary {
  background-color: firebrick; }

#search-new-container {
  color: #36454F; }
  #search-new-container section {
    border: 2px solid black;
    margin: 3px;
    text-align: center;
    max-width: 400px;
    background-color: white;
    height: 300px; }
  #search-new-container #getMovie {
    background-color: #36454F;
    color: white; }

#search-yours-container {
  color: #36454F; }
  #search-yours-container #get-my-movie {
    color: white;
    background-color: #36454F; }

#userLoginBtn {
  background-color: #36454F; }
